:root {
     --branco-principal:#ffffff;
     --cor-de-fundo:#31272e;
     --cinza-secundario: #9F9A9A;
     --botao-lilas: #fabfdbe3;
     --fonte-principal: inter;
     --botao-azul-efeito: #ffeafc;
}

body{
    background-color: #31272e;
    color: #ffffff;
}

{ padding: 24px 0;}

