:root {
     --branco-principal:#ffffff;
     --cor-de-fundo:#db259e;
     --cinza-secundario: #9F9A9A;
     --botao-lilas: #fabfdbe3;
     --fonte-principal: inter;
     --botao-azul-efeito: #ffeafc;
}

body{
    background-color: #db259e;
    color: var(--branco-principal);
}